@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
}

/* common */
.quicksand-default {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
}

.raleway-default {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
}
.color-orange{
    color: #FEA301;
}
.color-skublue{
    color: #01ACFD;
}
.color-white{
    color: #FFFFFF;
}

/* specifics */
.navbar {
    max-width: 1170px;
    margin: 0px auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 11px;
    align-items: center;
}
.title{
    font-size: 32px;
    font-weight: 700;
}
.menu {
    display: flex;
    list-style: none;
    gap: 32px;
}

.menu a {
    text-decoration: none;
}

.menu-item1 a{
    font-size: 20px;
    font-weight: 700;
    color: #FEA301;
}

.menu-item2 a{
    font-size: 20px;
    font-weight: 600;
    color: #01ACFD;
}

.menu-item3 a{
    font-size: 20px;
    font-weight: 600;
    color: #05D4DF;
}

.menu-item4 a{
    font-size: 20px;
    font-weight: 600;
    color: #5D58EF;
}

.contatc-btn {
    padding: 10px 60px;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
.menu-icon-container{
    display: none;
}

.banner-container {
    max-width: 1170px;
    margin: 0px auto;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-body{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}
.enroll{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 47px;
    background-color: #111111;
    border-radius: 12px;
}


/* responsive */
@media screen and (max-width:576px){
    .navbar{
        padding: 12px 16px;
        justify-content: space-between;
        border: 0.5px solid #FEA301;
    }
    .logo-container .title{
        display: none;
    }
    .menu-container, .cntct-btn-container{
        display: none;
    }
    .menu-icon-container{
        display: inline;
        width: 28px;
    }
    .banner-container{
        margin: 6px 17px 0px;
        flex-direction: column-reverse;
        gap: 20px;
        justify-content:center;
        align-items: center;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title{
        font-size: 32px;
        margin-bottom: 18px;
    }
    .banner-body{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 18px;
    }
    .enroll{
        font-size: 16px;
        font-weight: 700;
        padding: 6px 24px;
        border-radius: 8px;
    }
}